@{
    ViewData["Title"] = "Endless Runner";
}

<div class="jumbotron text-center">
    <h1>Endless Runner</h1>
</div>

<body>
    <div id="PlayArea">
        <div id="Player"></div>
        <div id="Obstacle1"></div>
        <div id="Obstacle2"></div>
        <div id="Obstacle3"></div>
        <div id="Background"></div>
        <div id="Score"></div>
    </div>
    <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
        <button class="button btn-block">Submit Score</button>
        <button class="button btn-block">Back to account</button>
    </div>
</body>