@{
    ViewData["Title"] = "Game Page";
}
<div class="container">
    
        <div class="jumbotron text-center">
            <h3><span id="name">@ViewData["name"]</span><span id="userScore">(0)</span></h3>
        </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <style>
        #button{
            height: 360px;
            background-color: #8BC34A;
            border-radius: 10px;
            transition: all 0.05s linear;
            cursor: pointer;
        }
        #button:hover{
            background-color:#4CAF50;
        }
    </style>
    <div class="row">
        <div class="col-md-10 offset-1 ">
            <div id="button"></div>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/game.js"></script>