@{
    ViewData["Title"] = "Endless Runner";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/EndlessRunner.js"></script>
</head>

<style>
    #PlayArea 
    {
        background-image: url(../../Resources/GameBackground.jpg);
        background-size: 100% 100%;
        height: 500px;
        width: 900px;
        border: 5px;
        border-style: solid;
        border-color: black;
        overflow:visible;
        margin-bottom: 10px;
    }

    .sprite
    {
        background-image: url(../../Resources/SpriteSheet.png);
    }

    #Player
    {
        position: absolute;
        background-position: bottom left;
        width: 54px;
        height: 54px;
    }

    #Obstacle
    {
        position: absolute;
        background-position: bottom right;
        width: 54px;
        height: 108px;
    }
</style>

<div class="jumbotron text-center">
    <h1 class="text-light">Endless Runner</h1>
</div>

<div id="PlayArea" class="col-md-8 offset-md-2">
    <div id="Player" class="sprite"></div>
    <div id="Obstacle" class="sprite"></div>
    <div id="Score"></div>
</div>
    
<div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
    <input  type ="submit" class="btn btn-secondary" value="Submit Score" />
</div>