@using System.ComponentModel.DataAnnotations
@using System.Reflection

@model GamifyFitness.Models.User

@{
    ViewData["Title"] = "User";
}

<h1 align="center">User deets</h1>

<hr />

<div>

    <dl class="dl-horizontal" align="center" >

        @foreach (var property in Model.GetType().GetProperties())
        {
            var title = property.Name;
            var value = property.GetValue(Model);
            Console.WriteLine(title+ "**********************************************************************************************");

            <dt >
                <p>@title</p>
            </dt>
            <dd>
                <p>@value</p>
            </dd>
        }
        

    </dl>

</div>