
@{
    ViewData["Title"] = "Find Friends";
}

<div class="jumbotron text-center">
    <h1> <p class="text-light">GamiFit</p> </h1>
    <h2> <p class="text-light">@ViewData["Title"] </p> </h2>
</div>
