@model LoginUser
@{
    ViewData["Title"] = "Login";
}

@section Scripts{
    <Script src="~/lib/jquery-validation/dist/jquery.validate.js"></Script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="jumbotron text-center">
    <h1> <p class="text-light">GamiFit</p> </h1>
    <h2> <p class="text-light">@ViewData["Title"] </p> </h2>
</div>


<form method="post">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="text-light offset-md-2">
            <div class="form-group">
                <label asp-for="Email"> <b>Email: </b></label>

                <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="Password"> <b>Password:</b></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
        </div>

        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
            <input type="submit" class="btn btn-outline-light" value="Login">
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 pt-4 offset-lg-2">
            <label class="text-light">Don't have an account?</label>
            <a class="btn btn-primary" asp-action="CreateUser">Create New Account</a>
        </div>
    </div>
</form>