@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron text-center">
    <h1>Gamify Fitness</h1>
</div>

<body>
    <div class="container text-center">
        <div class="col-md-8 offset-md-2 pt-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>   

        <div class="col-md-8 offset-md-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
            <button class="button btn-block">Login</button>
            <button class="button btn-block">Create New Account</button>
        </div>
    </div>
</body>

