@model LoginUser
@{
    ViewData["Title"] = "Login";
}

@section Scripts{
    <Script src="~/lib/jquery-validation/dist/jquery.validate.js"></Script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="jumbotron text-center">
    <h1>GamiFit</h1>
    <h2>@ViewData["Title"]</h2>
</div>

<form method="post" >
    <div class="card card-body bg-light">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 offset-lg-2">
            <input type="submit" class="btn btn-success" value="Login">
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3 offset-md-2 pt-4 offset-lg-2">
            <label>Don't have an account?</label>
            <a class="btn btn-primary" asp-action="CreateUser">Create New Account</a>
        </div>
    </div>
</form>